
/* 見出し
---------------------------------------------------------------------------------------------------*/

.post_content h2 {
	margin-bottom: 2.5em;
}
@media print, screen and (max-width: 599px) {
	.post_content h2{
		width: 100vw;
		margin-left: calc(-50vw + 50%);
	}
}

.post_content h4{
	margin-top: 4em;
	margin-bottom: 3em;
}

.post_content h5{
	margin-top: 4em;
	margin-bottom: 3em;
}


/* セクション用 */
.post_content .is-style-section_ttl.is-style-section_ttl {
	margin-top: 5em;
	margin-bottom: 3em;
}


/* カウント1 */
h2.is-style-heading-count.is-style-heading-count {
	width: 100%;
	margin-left: 0;
}
h4.is-style-heading-count.is-style-heading-count {
	border-left: 0;
}
.post_content .is-style-heading-count.is-style-heading-count {
	counter-increment: countcnt;
	margin-top: 7em;
	padding: 0 0 0 7rem;
	background-color: transparent;
	color: #333;
	font-size: 22px;
}
.post_content .is-style-heading-count.is-style-heading-count::before {
	content: counter(countcnt, decimal-leading-zero);
	position: absolute;
	display: flex;
	align-items: center;
	top: 50%;
	left: 0;
	transform: translateY(-35%);
	height: 100%;
	background: none;
	border: 0;
	font-size: 3em;
	font-family: 'Josefin Sans',sans-serif;
	font-weight: bold;
	color: #3e3e3e;
	line-height: 1;
}
@media print, screen and (max-width: 599px) {
	.post_content .is-style-heading-count.is-style-heading-count::before {
		transform: translateY(-40%) scale(1, 1.1);
		font-size: 2.6em;
	}
}
.post_content .is-style-heading-count.is-style-heading-count:after {
	position: absolute;
	top: -3em;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 40%;
	border-top: solid 1px #333;
	content: '';
}
.post_content .area .is-style-heading-count.is-style-heading-count::after {
	top: auto;
	bottom: -1em;
	width: 100%;
	height: calc(100%);
	border-top: none;
	border-bottom: solid 1px #e4e0e1;
}
.heading-count-reset {
	counter-reset: countcnt;
}
.is-style-num_circle + .is-style-heading-count{
	margin-top: 4em!important;
}
.is-style-num_circle + .is-style-heading-count:after{
	border-top: 0;
}
.is-style-heading-count + .wp-block-image{
	margin-top: -1em!important;
}


/* カウント2 */
.post_content .is-style-heading-num.is-style-heading-num {
	position: relative;
	margin-top: 4em;
	margin-bottom: 3em;
	margin-left: 1.5em;
	padding: 0.5em 1em 0.5em 2.5em;
	counter-increment: cntnum;
}
@media only screen and (min-width: 600px) {
	.post_content h5.is-style-heading-num.is-style-heading-num,
	.post_content h6.is-style-heading-num.is-style-heading-num {
		padding: 0.5em 1em 0.5em 3.5em;
	}
}
.post_content .is-style-heading-num.is-style-heading-num::before {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: -1.5em;
	transform: translateY(-50%);
	width: 70px;
	height: 70px;
	border: solid 3px #fff;
	border-radius: 50%;
	color: #fff;
	font-family: 'Arial', sans-serif;
	font-size: 1.5em;
	text-align: center;
	content: counter(cntnum, decimal);
}
@media print, screen and (max-width: 599px) {
	.post_content .is-style-heading-num.is-style-heading-num {
		font-size: 17px;
	}
	.post_content .is-style-heading-num.is-style-heading-num::before {
		left: -1.3em;
		width: 60px;
		height: 60px;
	}
}
.post_content .is-style-heading-num.is-style-heading-num.pink { background: #fae7f2; }
.post_content .is-style-heading-num.is-style-heading-num.pink::before { background: #df63ac; }

.heading-num-reset{
	counter-reset: cntnum;
}


/* カウント3 */
.post_content .is-style-heading-step.is-style-heading-step {
	position: relative;
	margin: 5em 0 3em;
	padding: 0;
	border: 0;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}
.post_content .is-style-heading-step.is-style-heading-step::before {
	position: static;
	display: block;
	width: auto;
	height: auto;
	margin-bottom: 30px;
	background: none;
	color: #fc5185;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Josefin Sans',sans-serif;
	counter-increment: section;
	content: counter(section, decimal-leading-zero);
}
.post_content .is-style-heading-step.is-style-heading-step::after {
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	width: 20px;
	height: 1px;
	background-color: #fc5185;
	content: '';
}
.heading-step-reset{
	counter-reset: section;
}


/* カウント4 */
.post_content .is-style-heading-sequence.is-style-heading-sequence {
	margin: 5em 0 3em;
	padding: 0 0 0 70px;
	background: none;
	border: 0;
	font-size: 18px;
}
@media print, screen and (max-width: 599px) {
	.post_content .is-style-heading-sequence.is-style-heading-sequence {
		padding: 0 0 5px 80px;
	}
}
.post_content .is-style-heading-sequence.is-style-heading-sequence::before {
	position: absolute;
	top: 48%;
	bottom: auto;
	left: 0;
	width: auto;
	height: auto;
	transform: translateY(-50%);
	background: none;
	color: rgba(63,193,201,0.3);
	font-size: 50px;
	font-family: 'Josefin Sans',sans-serif;
	counter-increment: sequence;
	content: counter(sequence, decimal-leading-zero);
}
.post_content .is-style-heading-sequence.is-style-heading-sequence::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 1px;
	background-color: rgba(63,193,201,1);
	content: '';
}
.heading-sequence-reset{
	counter-reset: sequence;
}


/* カウント6 */
.post_content .is-style-heading-bordered.is-style-heading-bordered {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: 4em;
	margin-bottom: 3em!important;
	padding: .5em .7em;
	overflow: hidden;
	border: 2px solid #102e24;
	border-radius: 5px;
	color: #333333;
	counter-increment: bordered;
}
.post_content .is-style-heading-bordered.is-style-heading-bordered::before {
	position: relative;
	content: counter(bordered, decimal);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	left: auto;
	margin-right: 1.8em;
	padding: 0.2em 0.5em 0;
	width: auto;
	height: 100%;
	background: none;
	color: #fff;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 1.2em;
	z-index: 1;
}
.post_content .is-style-heading-bordered.is-style-heading-bordered::after {
	position: absolute;
	top: -150%;
	left: -130px;
	transform: rotate(25deg);
	width: 200px;
	height: 300%;
	background-color: #102e24;
	content: '';
	z-index: -1;
}
@media print, screen and (max-width: 599px) {
	.post_content .is-style-heading-bordered.is-style-heading-bordered {
		width: 100vw;
		margin-left: calc(-50vw + 50%)!important;
		padding: .7em .7em;
		border-radius: 0;
		border-left: none;
		border-right: none;
	}
	.post_content .is-style-heading-bordered.is-style-heading-bordered::before {
		margin-right: 2.5em;
	}
}
.heading-bordered-reset{
	counter-reset: bordered;
}


/* 横線 */
.post_content .is-style-heading-hr.is-style-heading-hr {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	border: none;
	text-align: center;
}
.post_content .is-style-heading-hr.is-style-heading-hr::before,
.post_content .is-style-heading-hr.is-style-heading-hr::after {
	content: '';
	width: 70px;
	height: 1px;
	background-color: #333;
}
.post_content .is-style-heading-hr.is-style-heading-hr::before {
	margin-right: 20px;
}
.post_content .is-style-heading-hr.is-style-heading-hr::after {
	margin-left: 20px;
}


/* 横線（幅いっぱい） */
.post_content .is-style-heading-wide-hr.is-style-heading-wide-hr {
	display: flex;
	padding: 0;
	border: none;
	align-items: center;
	font-size: 16px;
}
.post_content .is-style-heading-wide-hr.is-style-heading-wide-hr::before,
.post_content .is-style-heading-wide-hr.is-style-heading-wide-hr::after {
	content: '';
	position: static;
	flex-grow: 1;
	top: 50%;
	height: 1px;
	background-color: #555;
}
.post_content .is-style-heading-wide-hr.is-style-heading-wide-hr::before {
	margin-right: 20px;
}
.post_content .is-style-heading-wide-hr.is-style-heading-wide-hr::after {
	margin-left: 20px;
}


/* 小さなアンダーライン */
.post_content .is-style-heading-underline.is-style-heading-underline {
	position: relative;
	width: 100%;
	margin: 4em auto 3em;
	padding: 1.5rem;
	background: none;
	border: 0;
	color: #222;
	font-size: 18px;
	text-align: center;
}
.post_content .is-style-heading-underline.is-style-heading-underline::before {
	position: absolute;
	content: '';
	top: 100%;
	bottom: -10px;
	left: calc(50% - 30px);
	width: 60px;
	height: 5px;
	background: #f25757;
	border: 0;
	border-radius: 3px;
}


/* double flame */
.post_content .is-style-heading-double-flame.is-style-heading-double-flame {
	position: relative;
	margin-top: 4em;
	margin-bottom: 3em;
	padding: 1.2rem 2rem;
	background: transparent;
	outline: 1px solid #333;
	z-index: 0;
}
.post_content .is-style-heading-double-flame.is-style-heading-double-flame::before {
	position: absolute;
	top: 6px;
	left: 6px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	background: rgba(55, 0, 53, 0.1);
	border: 0;
	content: '';
	z-index: -1;
}
.post_content .is-style-heading-double-flame.is-style-heading-double-flame::after {
	position: absolute;
	bottom: -6px;
	right: -6px;
	width: 98%;
	height: 98%;
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
	content: '';
	z-index: -1;
}


/* 装飾
---------------------------------------------------------------------------------------------------*/



/* P
---------------------------------------------------------------------------------------------------*/

@media print, screen and (max-width: 599px) {
	.post_content p {
		font-size: 94%;
	}
}

/* マーカー */
.swl-marker {
	font-weight: bold;
}

/* 太字 */
.huto, .has-swl-deep-01-color, .has-black-color {
	font-weight: bold;
}


/* 先頭に矢印 */
.p-with-arrow {
	position: relative;
	padding-left: 1.5em;
}
.p-with-arrow::before {
	position: absolute;
	left: 0;
	content: "→ "
}


/* source */
.post_content p.source{
	color: #666;
	font-size: 80%;
}
.post_content p.source a{
	color: #666;
}
.wp-block-group .pb-bar-graph + .source {
	margin-top: -2em;
}


/* OL/UL
---------------------------------------------------------------------------------------------------*/

.post_content ol, .post_content ul {
	margin-top: 3em;
	margin-bottom: 3em;
}
.post_content .swell-block-dl ol, .post_content .swell-block-dl ul {
	margin-top: 2em;
	margin-bottom: 2em;
}

.post_content ol li,
.post_content ul li{
	font-size: 94%;
}
@media print, screen and (max-width: 599px) {
	.post_content ol li,
	.post_content ul li{
		font-size: 90%;
	}
}

.post_content li:not(.p-toc__list li):not(.p-toc__childList li) {
	margin-bottom: 0.75em;
}
.post_content li:not(.p-toc__list li):not(.p-toc__childList li):last-child {
	margin-bottom: 0.25em;
}
.post_content li:last-child{
	margin-bottom: 0.25em;
}
.swell-block-fullWide li:last-child{
	margin-bottom: 0.25em!important;
}
.post_content li ol, .post_content li ul{
	margin-top: 0.75em;
}


/* 「」 */
.post_content .list-quote {
	list-style: none;
	padding-left: 0;
}
.post_content .list-quote li {
	position: relative;
	padding-left: 1em;
}
.post_content .list-quote li::before {
	position: absolute;
	left: -.2em;
	content: "「";
}
.post_content .list-quote li::after {
	content: "」";
}


/* コメント */
.w-comment,.m-comment{
	margin: 2.5em 0;
	padding: 0!important;
}
.w-comment li,.m-comment li{
	position: relative;
	list-style: none;
	padding: 0.7em 1em 0.7em 70px;
	border-radius: 4px;
	font-size: 90%;
}
.w-comment li{ background: #fce4ec; }
.m-comment li{ background: #e3f2fd; }
.w-comment li:before,.m-comment li:before{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 50px;
	font-family: "Font Awesome 6 Free";
	font-size: 1.3em;
	font-weight: 900;
	text-align: center;
	content: "\f086";
}
.w-comment li:before{ color: #f48fb1; }
.m-comment li:before{ color: #42a5f5; }
.w-comment li:after,.m-comment li:after{
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
	width: 1px;
	height: 70%;
	content: '';
}
.w-comment li:after{ border-right: solid 1px #f48fb1; }
.m-comment li:after{ border-right: solid 1px #42a5f5; }


/* 画像
---------------------------------------------------------------------------------------------------*/

/* ワイド化 */
@media print, screen and (max-width: 599px) {
	.is-style-eyecatch-width{
		width: 100vw;
		margin-left: calc(-50vw + 50%);
	}
}
@media only screen and (min-width: 600px) {
	.is-style-eyecatch-width img{
	 border-radius: 4px;
	}
}


/* table
---------------------------------------------------------------------------------------------------*/

.wp-block-table {
	margin-top: 3em;
	margin-bottom: 3em;
}
.wp-block-table th, .wp-block-table td {
	font-size: 90%;
}
.wp-block-table td a{
	word-wrap: break-word;
}


/* 線なし */
.wp-block-table.no-border td {
	border: 0;
}
.wp-block-table.no-border td:nth-of-type(1) { padding-left: 0; }


/* 1列目幅固定 */
.wp-block-table.row1-10 th:nth-of-type(1),.wp-block-table.row1-10 td:nth-of-type(1){ width: 10% !important; }
.wp-block-table.row1-15 th:nth-of-type(1),.wp-block-table.row1-10 td:nth-of-type(1){ width: 15% !important; }
.wp-block-table.row1-20 th:nth-of-type(1),.wp-block-table.row1-20 td:nth-of-type(1){ width: 20% !important; }




/* 引用
---------------------------------------------------------------------------------------------------*/

.post_content blockquote {
	padding: 5em 2em 1.5em;
	border-radius: 2px;
}
.post_content .wp-block-quote {
	margin-top: 3em;
	margin-bottom: 3em;
}
.post_content .wp-block-quote + .wp-block-quote {
	margin-top: -2em;
}
.post_content blockquote::before {
	position: absolute;
	top: 20px;
	left: 20px;
	width: auto;
	height: auto;
	border: 0;
	color: #E0E0E0;
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	font-size: 40px;
	content: '\f10d';
}

.post_content blockquote > p:not(:last-child) {
	margin: 0 0 1em;
}

.wp-block-quote p{
	font-size: 94%;
}
@media print, screen and (max-width: 599px) {
	.wp-block-quote p{
		font-size: 90%;
	}
}

.post_content .wp-block-quote cite {
	text-align: right;
}
.post_content .wp-block-quote cite a {
	color: #333;
}


/* アコーディオン
---------------------------------------------------------------------------------------------------*/

.post_content .swell-block-accordion {
	margin-top: 3em;
	margin-bottom: 3em;
}

.post_content .swell-block-accordion .swell-block-accordion__title .swell-block-accordion__label {
	font-size: 90%;
	font-weight: bold;
}
@media print, screen and (max-width: 599px) {
	.post_content .swell-block-accordion .swell-block-accordion__title .swell-block-accordion__label {
		font-size: 84%;
	}
}


/* UL/OL */
.swell-block-accordion .swell-block-accordion__body .wp-block-list {
	margin-top: 2em;
	margin-bottom: 2em;
}
.swell-block-accordion .swell-block-accordion__body .swell-block-dl__dd .wp-block-list {
	margin-top: 0;
}


/* DL */
.swell-block-accordion .swell-block-accordion__body .swell-block-dl {
	margin-top: 2em;
}


/* 余白 */
@media print, screen and (max-width: 599px) {
	.px-0 .swell-block-accordion__item .swell-block-accordion__body {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.px-05 .swell-block-accordion__item .swell-block-accordion__body {
		padding-left: 0.5em !important;
		padding-right: 0.5em !important;
	}
}

/* 連番 */
.sequential-numbering {
	counter-reset: accordion-counter;
}
.swell-block-accordion.sequential-numbering .swell-block-accordion__item .swell-block-accordion__label {
	position: relative;
	padding-left: 30px;
	line-height: 160%;
}
.swell-block-accordion.sequential-numbering .swell-block-accordion__item .swell-block-accordion__label::before {
	content: counter(accordion-counter) ". ";
	counter-increment: accordion-counter;
	position: absolute;
	left: 0;
	top: 2px;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 17px;
	font-weight: bold;
}
@media print, screen and (max-width: 599px) {
	.swell-block-accordion.sequential-numbering .swell-block-accordion__item .swell-block-accordion__label::before {
		top: 3px;
	}
}


/* 背景色 */
.swell-block-accordion.white details {
	background: #fff;
}


/* キャプションボックス
---------------------------------------------------------------------------------------------------*/

.swell-block-capbox {
	margin-top: 3em;
	margin-bottom: 3em;
}
.swell-block-capbox.is-style-inner {
	margin-top: 3.5em;
}
.swell-block-capbox .cap_box_content p {
	font-size: 94%;
}
@media print, screen and (max-width: 599px) {
	.swell-block-capbox .cap_box_content p {
		font-size: 90%;
	}
}
.swell-block-capbox .cap_box_content ul,.swell-block-capbox .cap_box_content ol {
	padding-top: 0.5em;
}



/* 説明リスト（DL）
---------------------------------------------------------------------------------------------------*/

.swell-block-dl {
	margin-top: 3em;
	margin-bottom: 3em;
}

.swell-block-dl__dd > ul.wp-block-list {
	margin-top: 0;
}

/* 説明リストの連番 */
.swell-block-dl.sequential-numbering .swell-block-dl__dt {
	position: relative;
	padding-left: 30px;
	line-height: 160%;
}
.swell-block-dl.sequential-numbering .swell-block-dl__dt::before {
	content: counter(accordion-counter) ". ";
	counter-increment: accordion-counter;
	position: absolute;
	left: 0;
	top: 2px;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 17px;
	font-weight: bold;
}
@media print, screen and (max-width: 599px) {
	.swell-block-dl.sequential-numbering .swell-block-dl__dt::before {
		top: 3px;
	}
}
.swell-block-dl.green.sequential-numbering .swell-block-dl__dt::before {
	color: #447c46;
}


/* フルワイド
---------------------------------------------------------------------------------------------------*/

.swell-block-fullWide {
	margin-top: 5em;
	margin-bottom: 5em;
}
.swell-block-fullWide + .swell-block-fullWide {
	margin-top: -5em;
}


/* ステップ
---------------------------------------------------------------------------------------------------*/

.swell-block-step {
	margin-top: 3em;
	margin-bottom: 3em;
}

.swell-block-step__title + .swell-block-step__body {
	margin-top: 2em;
}


/* タブ
---------------------------------------------------------------------------------------------------*/

.post_content .swell-block-tab .c-tabList .c-tabList__item {
	margin-bottom: 0.75em!important;
}

.post_content .swell-block-tab .c-tabBody {
	padding-top: 1em;
}


/* 10選
---------------------------------------------------------------------------------------------------*/

/* コンテンツ */
.wp-block-group.area .content p,
.wp-block-group.area .swell-block-accordion__body p{
	font-size: 94%;
}
@media print, screen and (max-width: 599px) {
	.wp-block-group.area .content p,
	.wp-block-group.area .swell-block-accordion__body p{
		font-size: 90%;
	}
}
.wp-block-group.area .content p::last-child,
.wp-block-group.area .swell-block-accordion__body p::last-child {
	margin-bottom: 0;
}


/* 商品情報ブロック
---------------------------------------------------------------------------------------------------*/

/* 商品ボタンのコンテナ */
.product-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	margin-top: 3em;
	margin-bottom: 3em;
}


/* 商品説明 */
.product-description {
	margin-bottom: 2rem;
}
.product-description p {
	margin-bottom: 1em;
}
.product-description .swell-block-balloon .c-balloon__text p {
	margin-bottom: 0;
}


/* 商品画像表示 */
.product-buttons .product-image {
	text-align: center;
}


/* 価格表示 */
.product-buttons .product-price-text {
	width: 100%;
	margin-bottom: 1em !important;
	font-size: 13px !important;
	color: #666;
	text-align: center !important;
}
.product-buttons .product-price-text .price-date {
	color: #999 !important;
	font-size: 10px !important;
}


/* ボタンのデザイン */
.product-buttons .product-button {
	flex: 1; /* 均等幅 */
	min-width: 30%;
	padding: 10px 16px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	border-radius: 2px;
	transition: 0.3s ease;
	display: block;
	text-align: center;
}

/* 各ボタンのカラー */
.product-buttons .product-button.official {
	background: #0073aa;
}
.product-buttons .product-button.amazon {
	background: #FF9900;
}
.product-buttons .product-button.rakuten {
	background: #BF0000;
}

/* ホバー時のエフェクト */
.product-buttons .product-button:hover {
	opacity: 0.8;
}

/* スマホ対応（縦並び） */
@media print, screen and (max-width: 599px) {
	.product-buttons {
		flex-direction: column;
		gap: 5px;
	}
	.product-buttons .product-price-text {
		width: 100%;
		margin-bottom: 1em !important;
		font-size: 13px !important;
		color: #666;
		text-align: center !important;
	}
	.product-buttons .product-price-text .price-date {
		font-size: 10px !important;
		display: inline !important;
		text-decoration: none !important;
	}
	.product-buttons .product-button {
		width: 100%;
		min-width: auto;
	}
}


/* メリット・デメリット
---------------------------------------------------------------------------------------------------*/

.post_content .merit-demerit-block {
	margin-top: 3em;
	margin-bottom: 3em;
	border-radius: 4px;
	box-shadow: 0 3px 5px #00000012;
	overflow: hidden;
	z-index: 0;
}
.post_content .merit-demerit-block .merit-demerit-block__head {
	display: flex;
	margin: 0;
	padding: 0;
	text-align: center;
}
.post_content .merit-demerit-block .merit-demerit-block__head .merit-demerit-block__head__l,
.post_content .merit-demerit-block .merit-demerit-block__head .merit-demerit-block__head__r {
	flex-basis: 50%;
	width: 50%;
	padding: 0.75em 1em;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
@media print, screen and (max-width: 599px) {
	.post_content .merit-demerit-block .merit-demerit-block__head .merit-demerit-block__head__l,
	.post_content .merit-demerit-block .merit-demerit-block__head .merit-demerit-block__head__r {
		font-size: 12px;
	}
}
.post_content .merit-demerit-block .merit-demerit-block__head .merit-demerit-block__head__l {
	background: #6fc7e1;
}
.post_content .merit-demerit-block .merit-demerit-block__head .merit-demerit-block__head__r {
	background: #ffa883;
}
.post_content .merit-demerit-block .merit-demerit-block__body {
	display: flex;
	margin: 0;
	padding: 0;
}
.post_content .merit-demerit-block .merit-demerit-block__body .merit-demerit-block__body__l,
.post_content .merit-demerit-block .merit-demerit-block__body .merit-demerit-block__body__r {
	flex-basis: 50%;
	width: 50%;
	padding: 1.25em 1.5em;
}
@media print, screen and (max-width: 599px) {
	.post_content .merit-demerit-block .merit-demerit-block__body .merit-demerit-block__body__l,
	.post_content .merit-demerit-block .merit-demerit-block__body .merit-demerit-block__body__r {
		padding: 1em 1em;
	}
}
.post_content .merit-demerit-block .merit-demerit-block__body .merit-demerit-block__body__l {
	background: #f0f9fc;
}
.post_content .merit-demerit-block .merit-demerit-block__body .merit-demerit-block__body__r {
	background: #fff6f2;
}
.post_content .merit-demerit-block .merit-demerit-block__body li {
	position: relative;
	list-style: none;
	margin: 0.7em 0 !important;
	font-size: 84%;
}
@media print, screen and (max-width: 599px) {
	.post_content .merit-demerit-block .merit-demerit-block__body li {
		font-size: 70%;
	}
}
.post_content .merit-demerit-block .merit-demerit-block__body ul.merit-demerit-list.-icon-dot li::before {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 80%;
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	content: "\f111";
}
.post_content .merit-demerit-block .merit-demerit-block__body .merit-demerit-block__body__l .merit-demerit-list li::before {
	background-color: #6fc7e1;
	color: #6fc7e1;
}
.post_content .merit-demerit-block .merit-demerit-block__body .merit-demerit-block__body__r .merit-demerit-list li::before {
	background-color: #ffa883;
	color: #ffa883;
}


/* 装飾
---------------------------------------------------------------------------------------------------*/

/* margin */
.m0-r { margin-right: 0 !important; }
.m1-r { margin-right: 1em !important; }
.m2-r { margin-right: 2em !important; }
.m3-r { margin-right: 3em !important; }
.m4-r { margin-right: 4em !important; }
.m5-r { margin-right: 5em !important; }
.m0-l { margin-left: 0 !important; }
.m1-l { margin-left: 1em !important; }
.m2-l { margin-left: 2em !important; }
.m3-l { margin-left: 3em !important; }
.m4-l { margin-left: 4em !important; }
.m5-l { margin-left: 5em !important; }
.m0-b { margin-bottom: 0 !important; }
.m1-b { margin-bottom: 1em !important; }
.m2-b { margin-bottom: 2em !important; }
.m3-b { margin-bottom: 3em !important; }
.m4-b { margin-bottom: 4em !important; }
.m5-b { margin-bottom: 5em !important; }
.m0-t { margin-top: 0 !important; }
.m1-t { margin-top: 1em !important; }
.m2-t { margin-top: 2em !important; }
.m3-t { margin-top: 3em !important; }
.m4-t { margin-top: 4em !important; }
.m5-t { margin-top: 5em !important; }

/* padding */
.p0-r { padding-right: 0 !important; }
.p1-r { padding-right: 1em !important; }
.p2-r { padding-right: 2em !important; }
.p3-r { padding-right: 3em !important; }
.p4-r { padding-right: 4em !important; }
.p5-r { padding-right: 5em !important; }
.p0-l { padding-left: 0 !important; }
.p1-l { padding-left: 1em !important; }
.p2-l { padding-left: 2em !important; }
.p3-l { padding-left: 3em !important; }
.p4-l { padding-left: 4em !important; }
.p5-l { padding-left: 5em !important; }
.p0-b { padding-bottom: 0 !important; }
.p1-b { padding-bottom: 1em !important; }
.p2-b { padding-bottom: 2em !important; }
.p3-b { padding-bottom: 3em !important; }
.p4-b { padding-bottom: 4em !important; }
.p5-b { padding-bottom: 5em !important; }
.p0-t { padding-top: 0 !important; }
.p1-t { padding-top: 1em !important; }
.p2-t { padding-top: 2em !important; }
.p3-t { padding-top: 3em !important; }
.p4-t { padding-top: 4em !important; }
.p5-t { padding-top: 5em !important; }
